<div class="modal-body">
    <form class="form-inline" role="form">
        <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon">GTQ</span>
              <input type="text" class="form-control" placeholder="Amount" ng-model="input.creditAmount">
              <span class="input-group-btn">
                <button class="btn btn-primary" ng-click="ok()">OK</button>
                <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
              </span>
            </div>
        </div>
    </div>
</div>